{% extends 'base.html' %}

{% block content %}
<style>
.checkout_button {
        padding: 10px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
.checkout_button > a {
    background-color: green;
    color: #fff;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 25%;
    margin: 0 auto;
}
</style>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for bag in bag_list %}
            <tr>
                <th>{{ bag.product.name }}</th>
                <th>{{ bag.quantity }}</th>
                <th>
                    <select name="salesman_select" id="salesman_select" class="form-control">
                        {% for salesman in salesmen %}
                        <option value="{{ salesman.pk }}"> {{ salesman.name }}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="checkout_button">
                <a href="{% url 'sales:bag_list' %}" class="form-control">FINALIZAR VENDA</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


