{% extends 'base.html' %}

{% block content %}
<style>
    .create-product{
        display: flex;
        margin: 20px;
    }
    .header-page {
    }
    .header-page > p {
        color: #000;
        font-size: 22px;
        font-weight: bold;
    }
    .header-page > a {
        padding: 5px 15px;
        background-color: #fff;
        border: transparent;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        width: 170px;

    }
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="create-product">
                <div class="header-page">
                    <p>Lista de Produtos</p><a href="{% url 'catalog:create_product' %}" class="btn-create-product">cadastrar produto</a>
                </div>
             </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Garantia</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in list_product %}
            <tr>
                <th>{{ product.name}}</th>
                <td>{{ product.description}}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.quantity}}</td>
                <td>{{ product.warranty}}</td>
                <td>{{ product.category}}</td>
                <td>
                    <a href="{% url 'catalog:delete_product' product.pk %}"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td>
                    <a href="{% url 'catalog:update_product' product.pk %}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>     
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}